.inner.cover
.row
  form
    h1.cover-heading Generador de RUT
    p.lead
      | Así de simple. Tienes dos opciones:
    p.lead
      input(type='text', placeholder='comienza a escribir un RUT')
    p.lead o si no te gusta escribir
    p.lead
      button.btn.btn-lg.btn-default Genera RUTs al azar
.inner.cover
  .row
    .col-md-3
      h4 12.345.678-9
    .col-md-3
      h4 12.345.678-9
    .col-md-3
      h4 12.345.678-9
    .col-md-3
      h4 12.345.678-9
  .row
    .col-md-3
      h4 12.345.678-9
    .col-md-3
      h4 12.345.678-9
    .col-md-3
      h4 12.345.678-9
    .col-md-3
      h4 12.345.678-9
  .row
    .col-md-3
      h4 12.345.678-9
    .col-md-3
      h4 12.345.678-9
    .col-md-3
      h4 12.345.678-9
    .col-md-3
      h4 12.345.678-9
